/* Body */

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url('../img/bg.jpg') repeat;
}


/* Header */

header {
	display: flex;
	justify-content: center;
}

header h1 {
	margin: 10px 0;
	font-size: 36px;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	margin-bottom: 40px;
}

.deck-stats {
	width: 600px;
	display: flex;
	font-size: 18px;
	padding: 10px;
	justify-content: space-around;
}

.deck-stats .timer {}

.deck-stats span[class$="-count"] {
	font-weight: bold;
}

.deck-stats .moves {}

.deck-stats .restart {
	cursor: pointer;
}

.deck {
	width: 600px;
	display: flex;
	flex-flow: wrap;
	padding: 10px;
	border-radius: 10px;
	background-image: linear-gradient(to right bottom, #02ccba, #00c0dc, #00aff0, #6e99eb, #aa7ecd);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/* entire container, keeps perspective */

.card-item {
	perspective: 1000;
	margin: 10px;
}

.card-item:focus .front {
	border: 2px solid #969EA4;
}

.card-item.matched:focus .back {
	border: 2px solid #039589;
}

.card-item.flipped:focus .back {
	border: 2px solid #017D9F;
}

/* flip the pane when clicked */

.card-item.flipped .card-holder,
.card-item.matched .card-holder {
	transform: rotateY(180deg);
}

.card-item,
.front,
.back {
	width: 125px;
	height: 125px;
}


/* flip speed goes here */

.card-holder {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


/* hide back of pane during swap */

.front,
.back {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	backface-visibility: hidden;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/* front pane, placed above back */

.front {
	z-index: 2;
	background: #2e3d49;
}


/* back, initially hidden pane */

.back {
	transform: rotateY(180deg);
	background: #02b3e4;
}

.back .fa {
	color: #fff;
	font-size: 40px;
}

.matched .back {
	background: #04bbad;
	cursor: not-allowed;
}

.warning .back {
	background: #f95b3c;
}


/* Footer */

footer {
	display: flex;
	justify-content: center;
	color: #fff;
	background: #2d3c49;
}

.player-info {
	font-size: 24px;
	font-weight: bold;
	color: #2e3d49
}

.player-name {
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.deck,
	.deck-stats {
		width: 500px;
	}
	.deck-stats {
		margin-top: 20px;
	}
	.card-item,
	.front,
	.back {
		width: 100px;
		height: 100px;
	}
}

@media screen and (max-width: 560px) {
	.deck,
	.deck-stats {
		width: 450px;
	}
	.deck-stats {
		margin-top: 40px;
	}
	.card-item,
	.front,
	.back {
		width: 85px;
		height: 85px;
	}
}

@media screen and (max-width: 480px) {
	.deck,
	.deck-stats {
		width: 400px;
	}
	.card-item,
	.front,
	.back {
		width: 75px;
		height: 75px;
	}
}

@media screen and (max-width: 400px) {
	.deck,
	.deck-stats {
		width: 360px;
	}
	.card-item,
	.front,
	.back {
		width: 65px;
		height: 65px;
	}
}