@charset "utf-8";
/* CSS Document */
html {
  /* background: url(../img/bg2.png) repeat fixed 100% 100%; */
  background: url(../img/bg3.png) repeat fixed;
}

body,td,th,p, span{
  font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: #333;
	line-height: 1.5;
}
body {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
ul, li {
	font-size: 1rem;
	color: #333;
}
a {
	color: #e35f21;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow Condensed", sans-serif;
	font-weight: 500;
  margin: 0 0 1em;

}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #342619;
  min-height: 100%;
  margin-top: 80px;
}

#maincontent #map-container {
  padding: 1rem;
}
#maincontent .seprator {
  border-top: 1px solid #391707;
  border-bottom: 1px solid #a14114;
  margin: 0 1rem;
}
#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid #e35f21;
}
/* ====================== Navigation ====================== */
header {
  position: fixed;
  top: 0;
  z-index: 10;
  max-width: 1280px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  background: linear-gradient(to right, #14161b 0%, #4f5669 100%);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e35f21;
}
nav h1 {
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
nav h1 a {
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#map .leaflet-control-attribution.leaflet-control {
  display: none;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}
.filter-options h2 {
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 1rem;
}
.filter-options select {
  background-color: #e35f21;
  border: 1px solid #e35f21;
  color: #fff;
  font-size: 1rem;
  height: 2rem;
  letter-spacing: 0;
  margin: 0.4rem;
  padding: 0 0.8rem;
  width: 200px;
  cursor: pointer;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  /* background-color: #f3f3f3; */
  list-style: outside none none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  min-height: 380px;
  width: 280px;
  margin: 1rem;
  border-radius: 2px;
  background: #fffff0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 250px;
  min-width: 100%;
}
#restaurants-list .info {
  padding: 1rem;
}
#restaurants-list li h1 {
  color: #e35f21;
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}
#restaurants-list li h1 + p {
 font-weight: bold;
}
#restaurants-list li p {
  margin: 0;
}
#restaurants-list li .category {
  display: flex;
  justify-content: space-between;
}
#restaurants-list li .category span {
  font-weight: bold;
}
#restaurants-list li a {
  background-color: #e35f21;
  color: #fff;
  display: block;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  border-top: 2px solid #e35f21;
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  /* font-family: Arial,sans-serif; */
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1rem;
  margin: 1rem 0;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 2rem;
  padding: 0.4rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1rem;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
