@charset "utf-8";
/* CSS Document */
html {
  background: url(../img/bg.png) repeat fixed;
}

body,td,th,p, span{
  font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: #333;
	line-height: 1.5;
}
body {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
ul, li {
	font-size: 1rem;
	color: #333;
}
a {
	color: #e35f21;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow Condensed", sans-serif;
	font-weight: 500;
  margin: 0 0 1em;

}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #342619;
  height: 100%;
  margin-top: 80px;
}

#maincontent #map-container {
  padding: 1rem;
}
#maincontent .seprator {
  border-top: 1px solid #391707;
  border-bottom: 1px solid #a14114;
  margin: 0 1rem;
}
#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid #e35f21;
}
/* ====================== Navigation ====================== */
header {
  position: fixed;
  top: 0;
  z-index: 10;
  max-width: 1280px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  background: linear-gradient(to right, #14161b 0%, #4f5669 100%);
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e35f21;
}
nav h1 {
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
nav h1 a {
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 0.4rem 1rem;
  background-color: #eee;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: .5rem;
    font-weight: bold;
    content: "\003e";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #e35f21;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#map .leaflet-control-attribution.leaflet-control {
  display: none;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}
.filter-options h2 {
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 1rem;
}
.filter-options select {
  background-color: #e35f21;
  border: 1px solid #e35f21;
  color: #fff;
  font-size: 1rem;
  height: 2rem;
  letter-spacing: 0;
  margin: 0.4rem;
  padding: 0 0.8rem;
  width: 200px;
  cursor: pointer;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  min-height: 380px;
  width: 280px;
  margin: 1rem;
  border-radius: 2px;
  background: #fffff0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 250px;
  min-width: 100%;
}
#restaurants-list .info {
  padding: 1rem;
}
#restaurants-list li h1 {
  color: #e35f21;
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}
#restaurants-list li h1 + p {
 font-weight: bold;
}
#restaurants-list li p {
  margin: 0;
}
#restaurants-list li .category {
  display: flex;
  justify-content: space-between;
}
#restaurants-list li .category span {
  font-weight: bold;
}
#restaurants-list li a {
  background-color: #e35f21;
  color: #fff;
  display: block;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  margin-top: 120px;
}
#restaurant-name {
  color: #e35f21;
  font-size: 1.6rem;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
#restaurant-img {
  width: 90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#restaurant-neighborhood, #restaurant-address {
  margin: 0;
}
#restaurant-rating {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 1rem;
  text-transform: uppercase;
  float: right;
}
#restaurant-cuisine {
  background-color: #e35f21;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;
}
.cuisine-info-label, .location-info-label, .open-info-label {
  display: block;
  clear: both;
  font-size: 1.6rem;
  font-weight: bold;
}
#viewMap {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  color: #344c84;
  padding: 1rem;
  cursor: pointer;
}
.cuisine-info-label {
  margin-top: 1.2rem;
}
.open-info-label {
  border-bottom: 2px solid #e35f21;
}
#restaurant-container {
  display: flex;
  padding: 1rem 1rem 0;
}
#restaurant-container .restaurant-info {
  flex: 1;
  display: flex;
  background: #fff;
  margin-right: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#restaurant-container .restaurant-info .name {
  flex: 1;
}
#restaurant-container .restaurant-info .location {
  flex: 1;
}
#restaurant-container .restaurant-time {
  flex: 1;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#reviews-container {
  padding: 0 1rem;
}
#reviews-container h2 {
  color: #fff;
  font-size: 2rem;
  line-height: 1;
  background: #e35f21;
  padding: 0.8rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem; 
  list-style-type: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#reviews-list li .comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reviews-list li .comment-customer {
  display: flex;
  align-items: baseline;
}
.comment-header .name {
  font-weight: bold;
  font-size: 1.6rem;
}
.comment-header .date {
  margin-left: 1rem !important;
  font-style: italic;
  font-size: 1rem;
  color: #4f5669;
}
.comment-header .date::before {
content: '\2014\2002';
}
.comment-header .rating {
  color: #e35f21;
  font-weight: bold;
  font-size: 1.2rem;
}
#reviews-list li p {
  margin: 0;
}
#restaurant-hours td {
  color: #666;
}
